<%= form_for(@alarm) do |f| %>
  <% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.collection_check_boxes :days, list_days, :first, :second%>
  
  <button class="btn" id="monday">Monday</button>
  <button class="btn" id="monday">Tuesday</button>
  <button class="btn" id="monday">Wednesday</button>
  <button class="btn" id="monday">Thursday</button>
  <button class="btn" id="monday">Friday</button>
  <button class="btn" id="monday">Saturday</button>
  <button class="btn" id="monday">Sunday</button>

  </div>
  <div class="field">
    <%= f.label :snooze %><br>
    <%= f.check_box :snooze %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
