= form_for @alarm, url: alarms_path do |f|
  - if @alarm.errors.any?
    #error_explanation
      %h2
        = pluralize(@alarm.errors.count, "error")
        prohibited this alarm from being saved:
      %ul
        - @alarm.errors.full_messages.each do |msg|
          %li= msg
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.text_field :name, placeholder: 'name', autofocus: true
        .div#hackyborder
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field#centre-txt
        %h2 at 
        = f.time_select :time, placeholder: 'time'
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      = f.collection_check_boxes :days, list_days, :first, :second do |b|
        = b.label(class: "checkBoxes"){ b.text } 
        = b.check_box(class: "hiddenBox") 

  /
    <button class="button" id="monday">M</button>
    <button class="button" id="monday">T</button>
    <button class="button" id="monday">W</button>
    <button class="button" id="monday">T</button>
    <button class="button" id="monday">F</button>
    <button class="button" id="monday">S</button>
    <button class="button" id="monday">S</button>
    
    </div>
  .row
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.label :snooze
        = f.check_box :snooze
  .row
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .actions
        = f.submit 'Add', :class => 'button'