<%= form_for(@alarm) do |f| %>
<% if @alarm.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

  <ul>
    <% @alarm.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :time %><br>
  <%= f.time_select :time %>
</div>
<div class="col-sm-12">
  <div class="DayRow">
      <%= f.collection_check_boxes :days, list_days, :first, :second, :class => "button"%>
  </div>
</div>  

  <!--<button class="button" id="monday">M</button>
  <button class="button" id="monday">T</button>
  <button class="button" id="monday">W</button>
  <button class="button" id="monday">T</button>
  <button class="button" id="monday">F</button>
  <button class="button" id="monday">S</button>
  <button class="button" id="monday">S</button>

</div> -->
<div class="field">
  <%= f.label :snooze %><br>
  <%= f.check_box :snooze %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
