<container class="container">

  <div class="col-md-12 title animated fadeInUp">
    <h3>Alarming,</h3>
  </div>
  <div class="row">
    <div class="col-md-12 WakeMeUp">
    <h4>wake me up at</h4>
    </div>
  </div>
  <tbody>
    <% @alarms.each do |alarm| %>

    <p><%= alarm.name %></p>
    <p><%= alarm.time %></p>
    <p><%= alarm.days %></p>
    <p><%= alarm.snooze %></p>
    <p><%= link_to 'Show', alarm %></p>
    <p><%= link_to 'Edit', edit_alarm_path(alarm) %></p>
    <p><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path %>

</container>