<container class="container">

  <div class="col-md-12 title animated fadeInUp">
    <h3>Alarming,</h3>
  </div>
  <div class="row">
    <div class="col-md-12 WakeMeUp">
    <h4>wake me up at</h4>
    </div>
  </div>
  <tbody>

    <% @next.each do |alarm| %>
      <tr>
        <p><%= alarm.name %></p>
        <p><%= alarm.time %></p>
        <p><%= alarm.days %></p>
        <p><%= alarm.snooze %></p>
        <p><%= link_to 'Show', user_alarm_path(@user) %></p>
        <p><%= link_to 'Edit', edit_user_alarm_path(alarm, @user) %></p>
        <p><%= link_to 'Destroy', user_alarm, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New', new_user_alarm_path %>