<h1>Listing alarms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Days</th>
      <th>Snooze</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @next.each do |alarm| %>
      <tr>
        <td><%= alarm.name %></td>
        <td><%= alarm.time %></td>
        <td><%= alarm.days %></td>
        <td><%= alarm.snooze %></td>
        <td><%= link_to 'Show', alarm %></td>
        <td><%= link_to 'Edit', edit_alarm_path(alarm) %></td>
        <td><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= form_for(@new, remote: true) do |f| %>
  
  <% if @new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.collection_check_boxes :days, list_days, :first, :second%>
  </div>
  <div class="field">
    <%= f.label :snooze %><br>
    <%= f.check_box :snooze %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'New Alarm', new_alarm_path %>
