= form_for @user, url: users_path, method: :post do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.text_field :name, placeholder: 'name', :autofocus => true
        .div#hackyborder
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.text_field :email, placeholder: 'email'
        .div#hackyborder
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.password_field :password, placeholder: 'password'
      .div#hackyborder
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      .field
        = f.password_field :password_confirmation, placeholder: 'password confirmation'
      .div#hackyborder
  .row#gap-sm
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1  
      .actions
        = f.submit 'Save'
